.background{
    background-image: url(../../../assets/images/Bg1.png);
    min-height: 100vh;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}
.flags-ul{
    text-align: right;
    padding-right: 30px;
    padding-top: 30px;
}
.flags-li{
display: inline-block;
cursor: pointer;
}
.flag-img{
    height: 18px;
}
.paddingLeft{
    padding-left: 12px;
}

.width{
    width: 12px;
}
.logo{
    width: 190px;
    margin-bottom: 50px;
}
.content{
    text-align: center;
}
.white-box{
    box-shadow: 0px 10px 2px 0px rgba(223, 223, 223, 0.27);
    background-color: white;
    padding: 30px;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}
.agree-txt{
    font-family: 'm-light';
    color: black;
    text-align: left;
    margin-bottom: 30px !important;
    line-height: 1.68;
}
.block-elems{
    position: relative;
}

.signin-btn{
    border-radius: 3px;
    height: 38px;
    width: 175px;
    font-size: 18px;
    border: none;
    color: white;
    background-color: #24b06d;
    font-family: 'm-light';

}
.nothanks-btn{
    border-radius: 3px;
    height: 38px;
    width: 175px;
    font-size: 18px;
    border: none;
    color: black;
    background-color: #f3f3f3;
}
.left-side{
    position: relative;
    float: left;
}
.right-side{
    position: relative;
    float: left;
}
.marRight20{
    margin-right: 20px;
}
.centering{
    width: 370px;
    margin: 0 auto;
}
.martop130{
    margin-top: 130px;
}
.agree-purpl-txt{
    color: #663274;
    font-family: 'm-s-bold';
    text-transform: uppercase;
    text-align: left;
    font-size: 18px;
}
.agree-li{
    font-family: 'm-light';
    color: black;
    text-align: left;
    font-size: 15px;
    margin-bottom: 10px;
}
.agree-link{
    text-decoration: underline;
    cursor: pointer;
}
.agree-ol{
    padding-left: 13px;
}
.agree-txt2{
    font-family: 'm-light';
    color: black;
    text-align: left;
    font-size: 15px;
    line-height: 1.68;
}
.martop40{
    margin-top: 40px;
}
.martop50{
    margin-top: 50px;
}

@media only screen and (max-width: 640px) {
    .martop130 {
        margin-top: 30px;
    }
    .centering{
        width: 100%;
    }
    .noFloat{
float: unset;
    }
    .marRight20{
        margin-right: 0px;
    }
    .phn-mar-top{
        margin-top: 20px;
    }
}
@media only screen and (min-width: 641px) and (max-width:767px){
    .centering {
        width: 100%;
    }
}

.disclaimer{
    color: red;
    font-weight: 600;
    text-align: left;
    padding-top: 30px;
}